<div class="container mt-lg-5">
  <h2>Land Features for {{features.mun}} {{features.tract}} {{features.block}} {{features.lot}}</h2>
  <table class="table table-striped table-bordered" >
    <tr>
      <td>FeatureTypeID</td>
      <td>FeatureTypeName</td>
      <td>Feature</td>
    </tr>

    <div *ngIf="!showData">No data found.</div>
    <!--<div *ngIf="showData" style="width: 100%">-->
    <tr *ngIf="showData">
      <td></td>
      <td><input type="text" style="width: 100%" placeholder="Search Feature Name" (keyup)="filterData()" [(ngModel)]="featureName" ></td>
      <td><input type="text" style="width: 100%" placeholder="Search Feature" (keyup)="filterData()" [(ngModel)]="feature"></td>
    </tr>
    <tr *ngFor="let fdata of featuresData">
      <td><img src="../../../assets/img/FIcon{{fdata.FeatureTypeID}}.jpg  " alt="{{fdata.FeatureTypeID}}"></td>
      <td>{{fdata.FeatureTypeName}}</td>
      <td>{{fdata.Feature}}</td>
    </tr>
    <!--</div>-->
  </table>
</div>
